.suggestion-item {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: -20px;
}
.suggestion {
  color: #475569;
  font-size: 21px;
  font-family: 'Roboto';
  cursor: pointer;
}
.arrow {
  height: 25px;
  width: 25px;
  cursor: pointer;
  align-self: center;
  margin-right: 15px;
}
